/*  Styling på specifik tekst ved brystets udvikling */
h3, h4, .navigationspileTekst {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
font-size: 45px;
margin-top: 20%;
}

h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 603px;
}

/*  når pilen ikke skal vises */
#ikkevis {
  visibility: hidden;
}

img {
  height: 100%;
}

.navigationspileTekst {
  font-size: 15px;
  color: #8B1639;
  padding: 0 40px;
}

/*  organisering af indholdet */
.containerBrystetsudvikling {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "tekstfelt billede"
    "navigation billede";
    align-items: center;
    margin-left: 100px;
}


#tekstfelt {
  grid-area: tekstfelt;
  display: flex;
  flex-direction: column;
}

.navigationspile {
  grid-area: navigation;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 20%;
  margin-top: -200px;
}

.billede-fase1 {
  grid-area: billede;
  
}

/*  styling på de to pop op beskeder på fase 5 */
#popUpPlaceringTop {
  position: fixed;
  display: none;
  z-index: 1000; 
  width: 414px;
  height: 91px;
  margin-left: 30px;
  top: 45px;
}

#popUpPlaceringBund {
  position: fixed;
  display: none;
  z-index: 1000;  
  width: 301px;
  height: 200px;
  right: 480px;
  bottom: 0px;
}
