body {
    background-color: #fff8f1;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.skaermStoerrelse {
    width: 1280px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    margin-left: 115px;
    margin-top: 135px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    width: 580px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}


/* faste ikoner*/

svg#hjemIkon {
    position: fixed;  /* Fast position i bunden til højre */
    top: 20px;     /* Afstand fra bunden af skærmen */
    left: 20px;      /* Afstand fra højre side af skærmen */
    z-index: 1000;    /* Sørger for, at det er over andre elementer */
}


svg#speakerIkon {
    position: fixed;  /* Fast position i bunden til højre */
    bottom: 20px;     /* Afstand fra bunden af skærmen */
    right: 20px;      /* Afstand fra højre side af skærmen */
    z-index: 1000;    /* Sørger for, at det er over andre elementer */
}

#speakerIkon.clicked path {
    fill: #1A1A1A;
    transition: fill 0.3s ease;
}


