/* video */
video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* skip video knappen */
#knapSkipVideo {
    position: absolute;
    right: 60px;
    bottom: 80px;
    margin: 15px 20px;
    width: 220px;
    background-color: #fff8f1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    color: #8B1639;
    text-align: center;
    border: 1px solid #8B1639;
    border-radius: 50px;
}